.slot {
    border-radius: 3px;
    border: 1px solid #babdb6;

    margin: 2px;
    padding: 2px;
    min-height: 2em;
}

#canvas {
    border: 1px solid #babdb6;
    min-width: 600px;
    min-height: 600px;

    background-image: url("/images/grass_mod.jpg");
}
