.program {
    border-radius: 3px;
    border: 1px solid #babdb6;

    margin: 2px;
    padding: 2px;
    min-height: 2em;
}

.card {
    border: 1px solid #babdb6;
    margin: 2px;
    padding: 1px;

    min-width: 140px;
}

.card .symbol {
    display: inline-block;
}

.card .symbol img {
    margin: 2px;
    display: inline-block;
}

.action .symbol {
    background-color: #eeeeec;
}

.condition .symbol {
    background-color: #729fcf;
}

.control .symbol {
    background-color: #e9b96e;
}

#canvas {
    border: 1px solid #babdb6;
    min-width: 600px;
    min-height: 600px;

    background-image: url("/images/grass_mod.jpg");
}
